<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>81812916962-o16f3uc6udi0i5v4nc0hmtefvc4cjddj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.81812916962-o16f3uc6udi0i5v4nc0hmtefvc4cjddj</string>
	<key>API_KEY</key>
	<string>AIzaSyCSGiPAs4A1_DqD0Z06Zpn_nbSkO941r_E</string>
	<key>GCM_SENDER_ID</key>
	<string>81812916962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseSetup</string>
	<key>PROJECT_ID</key>
	<string>flutter-intro-setup-d4a1b</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-intro-setup-d4a1b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:81812916962:ios:90c01b2feb9534ae8fecbb</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-intro-setup-d4a1b.firebaseio.com</string>
</dict>
</plist>